@charset "UTF-8";
@font-face {
  font-family: 'Days One';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Days-One.woff") format("woff") local("Days One"), local("DaysOne");
}

@font-face {
  font-family: 'Co Headline Corp';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Co-Headline-Corp.woff") format("woff"), local("Co Headline Corp"), local("CoHeadlineCorp");
}

@font-face {
  font-family: 'Montserrat Medium';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Montserrat-Medium.woff") format("woff"), local("Montserrat Medium"), local("MontserratMedium");
}

@font-face {
  font-family: 'Co Headline Corp Light';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Co-Headline-Corp-Light.woff") format("woff"), local("Co Headline Corp Light"), local("CoHeadlineCorpLight");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  font: bold 14px/1.2 'Co Headline Corp Light';
}

.inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner .middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.inner .footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.sc {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.header .sc {
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-block {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-block__logo {
  position: relative;
  top: -10px;
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);
}

.header-phone {
  float: left;
  margin-right: 5px;
}

.header-numbers table tr td:first-child {
  text-transform: uppercase;
  text-align: right;
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #acacac;
  padding-top: 5px;
}

.header-menu__right {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-menu__item {
  padding: 2px 10px;
  text-transform: uppercase;
}

.header-menu__item_hot {
  background-color: #ff0000;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.header-menu__item_logo {
  position: absolute;
  top: -135px;
}

.clearFix::after {
  clear: both;
}

.footer {
  background-color: #617f63;
}

.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 25px;
}

.footer-menu__item {
  font: bold 16px/1.2 'Co Headline Corp Light';
  color: #FFFFFF;
  text-decoration: underline;
}

.footer-logo {
  margin: 20px auto 0;
  background-color: #ffffff;
  width: 236px;
  height: 115px;
  text-align: center;
  padding-top: 35px;
  -webkit-border-radius: 115px 115px 0 0;
     -moz-border-radius: 115px 115px 0 0;
          border-radius: 115px 115px 0 0;
}

.to-up {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 10;
  cursor: pointer;
}

.social-bar {
  position: fixed;
  left: 0;
  bottom: 200px;
  z-index: 10;
  background-color: #617f63;
  border-right: 2px solid #7BD1B8;
  -webkit-box-shadow: 0 0 15px 1px #000000;
     -moz-box-shadow: 0 0 15px 1px #000000;
          box-shadow: 0 0 15px 1px #000000;
}

.social-bar a {
  display: block;
  margin: 10px 5px 5px;
}

.hover:hover {
  opacity: .85;
}

.h2-line {
  color: #333333;
  font: bold 48px/1.2 'Co Headline Corp Light';
  padding: 25px 5px;
  text-align: center;
}

.h2-line span {
  position: relative;
  padding-bottom: 25px;
}

.h2-line span::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 5%;
  left: 5%;
  height: 2px;
  background-color: #333333;
}

.h2-line_white {
  color: #FFFFFF;
}

.h2-line_white span::before {
  background-color: #ffffff;
}

.index-green {
  background-color: #617f63;
}

.index-turquoise {
  background-color: #7BD1B8;
}

.index-banner {
  height: 100vh;
  max-height: 1000px;
  max-height: 1000px;
  background: url(/img/banner-1.jpg) center center no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-banner__caption {
  display: inline-block;
  background-color: #7bd1b99f;
  color: #FFFFFF;
  font-size: 48px;
  text-transform: uppercase;
  padding: 10px;
  font: bold 48px/1.2 'Co Headline Corp Light';
}

.index-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 30px solid #7BD1B8;
}

.index-info-block {
  width: 50%;
}

.index-info-text {
  float: right;
  max-width: 437px;
  color: #FFFFFF;
  font: 18px/1.2 'Co Headline Corp Light';
}

.index-info-text p {
  margin: 20px 10px;
}

.index-info__text {
  margin-bottom: 100px;
}

.index-info__logo {
  display: block;
  margin: 0 auto;
}

.index-info-image {
  background: url(/img/section-info.png) 0 center no-repeat;
  height: 823px;
}

.index-hits-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 25px;
  font: bold 24px/1.2 'Co Headline Corp Light';
}

.index-hits-menu__item {
  border-bottom: 1px solid #FF0000;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
}

.index-hits-menu__item_active {
  -webkit-box-shadow: 0 5px 15px -7px #FF0000;
     -moz-box-shadow: 0 5px 15px -7px #FF0000;
          box-shadow: 0 5px 15px -7px #FF0000;
}

.index-hits-dish {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.index-hits-dish-buy {
  text-align: center;
  padding: 20px;
  border-top: 2px solid #333333;
}

.index-hits-dish__item {
  width: 300px;
  margin: 0 5px;
}

.index-hits-dish__link {
  text-decoration: none;
}

.index-hits-dish__img {
  width: 300px;
  height: 300px;
}

.index-hits-dish__name {
  display: block;
  margin: 10px 0;
  font: bold 16px/1.2 'Co Headline Corp Light';
  color: #333333;
  height: 38px;
  overflow: hidden;
}

.index-hits-dish__price {
  font: bold 18px/1.2 'Co Headline Corp Light';
}

.index-hits-dish__price::after {
  content: "₽";
  padding-left: 5px;
}

.index-hits-dish__submit {
  font: bold 16px/1.2 'Co Headline Corp Light';
  background-color: #fff;
  border: 1px solid #FF0000;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  padding: 5px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.index-hits-dish__submit:hover {
  -webkit-box-shadow: 0 5px 15px -5px #FF0000;
     -moz-box-shadow: 0 5px 15px -5px #FF0000;
          box-shadow: 0 5px 15px -5px #FF0000;
}

.index-news {
  padding-bottom: 25px;
}

.index-news-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 25px;
}

.index-news__item {
  width: 300px;
}

.index-news__link {
  text-decoration: none;
}

.index-news__img {
  width: 300px;
}

.index-news__name {
  position: relative;
  display: block;
  font: bold 16px/1.2 'Co Headline Corp Light';
  border-bottom: 2px solid #333333;
  padding: 10px 25px 10px 0;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333333;
}

.index-news__name::after {
  position: absolute;
  content: "";
  background: url(/img/news-arrow.png) no-repeat;
  right: 5px;
  width: 21px;
  height: 18px;
}

.index-menu-header {
  padding-bottom: 30px;
}

.index-menu-bg {
  position: relative;
  background: url(/img/delivery-background.jpg);
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.index-menu-bg::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.index-menu-items {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 40px 0;
}

.index-menu__item {
  display: block;
  width: 300px;
  margin: 5px 5px 20px;
}

.index-menu__link {
  text-decoration: none;
}

.index-menu__img {
  margin-bottom: 5px;
}

.index-menu__name {
  display: block;
  text-align: center;
  color: #FFFFFF;
  font: bold 18px/1.2 'Co Headline Corp Light';
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
