@font-face
{
	font-family: 'Days One';
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: url("/fonts/Days-One.woff") format("woff") local('Days One'), local('DaysOne');
}
@font-face
{
	font-family: 'Co Headline Corp';
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: url("/fonts/Co-Headline-Corp.woff") format("woff"), local('Co Headline Corp'), local('CoHeadlineCorp');
}
@font-face
{
	font-family: 'Montserrat Medium';
	font-display: swap;
	font-weight: 500;
	font-style:normal;
	src: url("/fonts/Montserrat-Medium.woff") format("woff"), local('Montserrat Medium'), local('MontserratMedium');
}
@font-face
{
	font-family: 'Co Headline Corp Light';
	font-display: swap;
	font-weight: normal;
	font-style: normal;
	src: url("/fonts/Co-Headline-Corp-Light.woff") format("woff"), local('Co Headline Corp Light'), local('CoHeadlineCorpLight');
}