@import 'fonts';

*
{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

html, body
{
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
	font: bold 14px/1.2 'Co Headline Corp Light';
}

.inner
{
	display: flex;
	flex-direction: column;

	.middle
	{
		flex: 1 0 auto;
	}
	.footer
	{
		flex: 0 0 auto;
	}
}

.sc
{
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.header
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;

	background-color: rgba(0, 0, 0, .7);
	backdrop-filter: blur(2px);

	.sc
	{
		color: #FFF;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	&-block
	{
		position: relative;
		flex-direction: column;

		&__logo
		{
			position: relative;
			top: -10px;
			transform: scale(0.8);
		}
	}

	&-phone
	{
		float: left;
		margin-right: 5px;
	}

	&-numbers
	{
		table
		{
			tr td:first-child
			{
				text-transform: uppercase;
				text-align: right;
			}
		}
	}

	&-menu
	{
		display: flex;
		border-top: 1px solid #acacac;
		padding-top: 5px;

		&__right
		{
			align-items: flex-end;
		}

		&__item
		{
			padding: 2px 10px;
			text-transform: uppercase;

			&_hot
			{
				background-color: #ff0000;
				border-radius: 10px;
			}

			&_logo
			{
				position: absolute;
				top: -135px;
			}
		}
	}
}

.clearFix::after
{
	clear: both;
}

.footer
{
	background-color: #617f63;

	&-menu
	{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 25px;

		&__item
		{
			font: bold 16px/1.2 'Co Headline Corp Light';
			color: #FFFFFF;
			text-decoration: underline;
		}
	}

	&-logo
	{
		margin: 20px auto 0;
		background-color: #ffffff;
		width: 236px;
		height: 115px;
		text-align: center;
		padding-top: 35px;
		border-radius: 115px 115px 0 0;
	}
}

.to-up
{
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 10;
	cursor: pointer;
}

.social-bar
{
	position: fixed;
	left: 0;
	bottom: 200px;
	z-index: 10;

	background-color: #617f63;
	border-right: 2px solid #7BD1B8;

	box-shadow: 0 0 15px 1px #000000;

	a
	{
		display: block;
		margin: 10px 5px 5px;
	}
}

.hover
{
	&:hover
	{
		opacity: .85;
	}
}

.h2
{
	&-line
	{
		color: #333333;
		font: bold 48px/1.2 'Co Headline Corp Light';
		padding: 25px 5px;

		text-align: center;

		span
		{
			position: relative;
			padding-bottom: 25px;

			&::before
			{
				content: "";
				position: absolute;
				bottom: 0;
				right: 5%;
				left: 5%;
				height: 2px;
				background-color: #333333;
			}
		}

		&_white
		{
			color: #FFFFFF;

			span::before
			{
				background-color: #ffffff;
			}
		}
	}
}

.index-green
{
	background-color: #617f63;
}

.index-turquoise
{
	background-color: #7BD1B8;
}

.index-banner
{
	height: 100vh;
	max-height: 1000px;
	max-height: 1000px;
	background: url(/img/banner-1.jpg) center center no-repeat;
	background-size: cover;

	display: flex;
	align-items: center;

	&__caption
	{
		display: inline-block;

		background-color: #7bd1b99f;
		color: #FFFFFF;

		font-size: 48px;
		text-transform: uppercase;

		padding: 10px;

		font: bold 48px/1.2 'Co Headline Corp Light';
	}
}

.index-info
{
	display: flex;
	justify-content: center;
	border-bottom: 30px solid #7BD1B8;

	&-block
	{
		width: 50%;
	}

	&-text
	{
		float: right;
		max-width: 437px;

		color: #FFFFFF;
		font: 18px/1.2 'Co Headline Corp Light';

		p
		{
			margin: 20px 10px;
		}
	}

	&__text
	{
		margin-bottom: 100px;
	}

	&__logo
	{
		display: block;
		margin: 0 auto;
	}

	&-image
	{
		background: url(/img/section-info.png) 0 center no-repeat;
		height: 823px;
	}
}

.index-hits
{
	&-menu
	{
		display: flex;
		justify-content: space-around;

		margin: 25px;
		font: bold 24px/1.2 'Co Headline Corp Light';

		&__item
		{
			border-bottom: 1px solid #FF0000;
			border-radius: 15px;
			padding: 5px 20px;
			text-align: center;
			cursor: pointer;

			&_active
			{
				box-shadow: 0 5px 15px -7px #FF0000;
			}
		}
	}

	&-dish
	{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		&-buy
		{
			text-align: center;
			padding: 20px;
			border-top: 2px solid #333333;
		}
		&__item
		{
			width: 300px;
			margin: 0 5px;
		}
		&__link
		{
			text-decoration: none;
		}
		&__img
		{
			width: 300px;
			height: 300px;
		}
		&__name
		{
			display: block;
			margin: 10px 0;
			font: bold 16px/1.2 'Co Headline Corp Light';
			color: #333333;
			height: 38px;
			overflow: hidden;
		}
		&__price
		{
			font: bold 18px/1.2 'Co Headline Corp Light';

			&::after
			{
				content: "₽";
				padding-left: 5px;
			}
		}
		&__submit
		{
			font: bold 16px/1.2 'Co Headline Corp Light';
			background-color: #fff;
			border: 1px solid #FF0000;
			border-radius: 15px;
			padding: 5px 20px;
			margin-left: 10px;
			cursor: pointer;

			&:hover
			{
				box-shadow: 0 5px 15px -5px #FF0000;
			}
		}
	}
}

.index-news
{
	padding-bottom: 25px;

	&-items
	{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 25px;
	}
	&__item
	{
		width: 300px;
	}
	&__link
	{
		text-decoration: none;
	}
	&__img
	{
		width: 300px;
	}
	&__name
	{
		position: relative;
		display: block;
		font: bold 16px/1.2 'Co Headline Corp Light';
		border-bottom: 2px solid #333333;
		padding: 10px 25px 10px 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: #333333;

		&::after
		{
			position: absolute;
			content: "";
			background: url(/img/news-arrow.png) no-repeat;
			right: 5px;
			width: 21px;
			height: 18px;
		}
	}
}

.index-menu
{
	&-header
	{
		padding-bottom: 30px;
	}
	&-bg
	{
		position: relative;
		background: url(/img/delivery-background.jpg);
		background-size: cover;

		&::after
		{
			content: "";
			position: absolute;
			background-color: rgba(0, 0, 0, .5);
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
	&-items
	{
		z-index: 1;
		position: relative;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 40px 0;
	}
	&__item
	{
		display: block;
		width: 300px;
		margin: 5px 5px 20px;
	}
	&__link
	{
		text-decoration: none;
	}
	&__img
	{
		margin-bottom: 5px;
	}
	&__name
	{
		display: block;
		text-align: center;
		color: #FFFFFF;
		font: bold 18px/1.2 'Co Headline Corp Light';
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}